/* Meyer reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button,
label,
input,
select,
progress,
meter {
  display: block;
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* End Meyer reset */

* {
    box-sizing: border-box;
}

:root {
    --blue: #1992D4;
    --light-gray: #E2E8F0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light-gray, lightgray);
}

.container {
    max-width: 1800px;
    min-height: 100vh;
    margin: 0 auto;
}

.container .header {
    padding: 2rem;
}

.header .logo {
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2rem;
}

.header .add-book {
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--blue, blue);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: auto;
    height: 3rem;
    display: block;
    margin: 0 auto;
}

dialog {
    padding: 2rem;
    border-radius: 10px;
    border: 5px solid var(--blue, blue);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog .dialog {
    display: grid;
    grid-template-columns: 1fr 25px;
    gap: 1rem;
}

.dialog .heading {
    font-size: 1.75rem;
    font-weight: bold;

    place-self: center;
}

.close-btn img {
    width: 25px;
    height: 25px;
}

.dialog .close-btn {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    place-self: center;
}

.dialog .close-btn:hover {
    background-color: var(--light-gray, lightgray);
}

.dialog form {
    grid-column: 1 / 3;
}

.dialog form p {
    margin-top: 1rem;
}

.dialog p label {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.dialog p input[type='text'],
.dialog p input[type='number'] {
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--light-gray, lightgray);
    height: 2rem;
    padding: 0.125rem 0.25rem;
}

.dialog p input:focus {
    border: 2px solid blue;
}

.dialog input[type='checkbox'],
.dialog label[for='read'] {
    display: inline;
    width: auto;
    margin: 0;
    padding: 0;
}

.dialog p:nth-of-type(4) {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.dialog p button[type='submit'] {
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--blue, blue);
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: auto;
    height: 3rem;
    display: block;
    margin: 0 auto;
}

.container .books {
    max-width: 1312px;
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.books .book {
    background-color: #FFFFFF;
    border-radius: 10px;
    border-left: 10px solid var(--blue, blue);
    box-shadow: 5px 5px 5px -5px rgb(0, 0, 0, 0.1);
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
}

.book .title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;

    grid-column: 1 / 3;
}

.book .author {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    
    grid-column: 1 / 3;
}

.book .pages {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.book .status {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
}

.book .remove {
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: red;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: auto;
    height: 3rem;
    display: block;
    margin: 0 auto;

    grid-column: 1 / 3;
}

.book .change-status {
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: var(--blue, blue);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: auto;
    height: 3rem;
    display: block;
    margin: 0 auto;

    grid-column: 1 / 3;
}